.userInfo {
  display: flex;
  padding-top: 1px;
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
  }
  .userName {
    position: relative;
    top: 6px;
    padding-left: 3px
  }
}